@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Oxygen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300&display=swap');
:root {
   --primary: RGB(24, 45, 74);
   --body-fonts: 'Teko', sans-serif;
}
::-webkit-scrollbar {
   width: 5px;
}
::-webkit-scrollbar-track {
   background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
   background: #888;
   border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
   background: #555;
}

* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}
body {
   text-rendering: optimizeSpeed;
   font-family: 'Teko', sans-serif;

   font-size: 20px;
   line-height: 30px;

   font-family: 'Oxygen', sans-serif;
}
